<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>User authorization</title>
</head>
<body>
<h1>Authorization</h1>
<form action="#" th:action="@{/result}" method="post">
    <p>User: <input type="text" name="user" required minlength="2" maxlength="8" size="8"/></p>
    <p>Password: <input type="password" name="password" required minlength="4" maxlength="8" size="8"></p>
    <p><input type="submit" value="Login" /> </p>
    <a href="/register">To register</a>
</form>
</body>
</html>
